<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <meta charset="UTF-8">
      <title>Main</title>
      <link th:rel="stylesheet" th:href="@{/css/pages/mainPage.css}"/>
      <link th:rel="stylesheet" th:href="@{/css/pages/fragments/header.css}"/>
      <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <div th:replace="~{pages/fragments/header :: mainHeader(authentication=${authentication})}"></div>
    <main class="MainPage">
    </main>
  </body>
</html>